.button {
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  width: 167px;
  height: 50px;
  padding: 0px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.button:focus, .button:hover {
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: aqua;
}

.header__logo-text01 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 32;
  line-height: 42;
}

.header__logo-text02 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 32;
  line-height: 42;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  list-style: none;
}

.hero {
  display: block;
  margin: 0px auto;
  width: 320px;
  height: 533px;
  background-image: url(../images//images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-color: yellow;
  }
}

@media screen and (min-width: 1360px) {
  .hero {
    width: 1360px;
    height: 768px;
    background-color: yellow;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 768px;
  }
}

@media screen and (min-width: 1360px) {
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1360px;
  }
}

.services__item-heading {
  width: 240px;
  margin: 0px;
  font-family: "Open Sans";
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 26px;
}

.services__item-text {
  display: block;
  width: 240px;
  margin: 0 50px;
  font-family: "Open Sans";
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  width: 320px;
  font-family: "Open Sans";
  background-color: #28A745;
}

@media screen and (min-width: 768px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 768px;
    background-color: #28A745;
  }
}

@media screen and (min-width: 1360px) {
  .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1360px;
  }
}

.about__photo {
  width: 320px;
  height: 220px;
  background-image: url(../images//images/home/people.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .about__photo {
    width: 384px;
    background-image: url(../images/images/home/people@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .about__photo {
    background-image: url(../images/images/home/people@2x.jpg);
  }
}

@media screen and (min-width: 1360px) {
  .about__photo {
    width: 680px;
    height: 460px;
    background-image: url(../images/images/home/people@2x.jpg);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1360px) and (min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (min-resolution: 192dpi), screen and (min-width: 1360px) and (min-resolution: 2dppx) {
  .about__photo {
    background-image: url(../images/images/home/people@2x.jpg);
  }
}

.about__text {
  display: block;
  width: 320px;
  margin: 30px;
}

.about__text-date {
  display: block;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.about__text-heading {
  display: block;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  line-height: 48px;
}

.about__text-question {
  width: 240px;
  margin-bottom: 14px;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  background-color: #0284D0;
}

@media screen and (min-width: 768px) {
  .blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 768px;
    background-color: #0284D0;
  }
}

@media screen and (min-width: 1360px) {
  .blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1360px;
  }
}

.blog__photo {
  width: 320px;
  height: 220px;
  background-image: url(../images//images/home/blog.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .blog__photo {
    width: 384px;
    height: 764px;
    background-image: url(../images/images/home/blog@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .blog__photo {
    background-image: url(../images/images/home/blog@2x.jpg);
  }
}

@media screen and (min-width: 1360px) {
  .blog__photo {
    width: 680px;
    height: 460px;
    background-image: url(../images/images/home/blog@2x.jpg);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1360px) and (min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (min-resolution: 192dpi), screen and (min-width: 1360px) and (min-resolution: 2dppx) {
  .blog__photo {
    background-image: url(../images/images/home/blog@2x.jpg);
  }
}

.blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: 30px;
}

.blog__text-main {
  display: block;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.blog__text-heading {
  display: block;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  line-height: 48px;
}

.blog__text-question {
  display: block;
  width: 240px;
  font-family: "Open Sans";
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}
/*# sourceMappingURL=main.css.map */