$font-family: 'Open Sans';
$header-text: #FFFFFF;
$text: #333333;
$hero-text-two: #E9E9E9;
$form-background: #f4f4f4;
// $footer-text: #FFFFFF;
$main-green: #28A745;
$main-blue: #0284D0;

$phone-size: 320px;
$tablet-size:768px;
$desktop-size: 1360px;

// $fa-font-path: "../fonts/scss";

// $primeryFont: 'Open Sans',