<article class="blog">
   <div class="blog__text">
        <span class="blog__text-main">What you are looking for</span>
        <span class="blog__text-heading"> We provide bespoke solutions</span>
        <span class="blog__text-question">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</span>
        <button class="button blog__button" href="">Read more</button>
    </div>
    <div class="blog__photo"></div>
</article>