<section class="cards">
    <div class="cards__heading">
        <span class="cards__heading-firsttext">This is what we do</span>
        <h2 class="cards__heading-maintext">Busines Cases</h2>
        <span class="cards__heading-thirdtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</span>
    </div>
    <div class="cards__block">
        <ul class="cards__list">
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases1.webp 480w,
                        ./images/images/cases/cases1@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases1.jpg 480w,
                            ./images/images/cases/cases1@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases1.jpg"
                        alt="Case 1"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases3.webp 480w,
                        ./images/images/cases/cases3@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases3.jpg 480w,
                            ./images/images/cases/cases3@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases3.jpg"
                        alt="Case 3"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases5.webp 480w,
                        ./images/images/cases/cases5@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases5.jpg 480w,
                            ./images/images/cases/cases5@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases5.jpg"
                        alt="Case 5"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases7.webp 480w,
                        ./images/images/cases/cases7@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases7.jpg 480w,
                            ./images/images/cases/cases7@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases7.jpg"
                        alt="Case 7"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases2.webp 480w,
                        ./images/images/cases/cases2@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases2.jpg 480w,
                            ./images/images/cases/cases2@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases2.jpg"
                        alt="Case 2"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases4.webp 480w,
                        ./images/images/cases/cases4@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases4.jpg 480w,
                            ./images/images/cases/cases4@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases4.jpg"
                        alt="Case 4"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases6.webp 480w,
                        ./images/images/cases/cases6@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases6.jpg 480w,
                            ./images/images/cases/cases6@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases6.jpg"
                        alt="Case 6"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
            <li class="cards__list-item">
                <picture>
                    <source
                        srcset="
                        ./images/images/cases/cases8.webp 480w,
                        ./images/images/cases/cases8@2x.webp 1200w
                        "
                        type="image/webp"
                    />
                    <img
                        class = "cards__case"
                        srcset="
                            ./images/images/cases/cases8.jpg 480w,
                            ./images/images/cases/cases8@2x.jpg 1200w
                        "
                        src="./images/images/cases/cases8.jpg"
                        alt="Case 8"
                        sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
                    />
                </picture>
            </li>
        </ul>
    </div>
</section>