<section class="form__wrapper">
    <div class="form__photo">
        <picture>
            <source
                srcset="
                ./images/images/home/contact.webp 480w,
                ./images/images/home/contact@2x.webp 1200w
                "
                type="image/webp"
            />
            <img
                class = "form-card"
                srcset="
                    ./images/images/home/contact.jpg 480w,
                    ./images/images/home/contact@2x.jpg 1200w
                "
                src="./images/images/home/contact.jpg"
                alt="Contact"
                sizes="(min-width: 480px) 25vw, (min-width: 768px) 50vw,  (min-width: 1200px) 100vw"
            />
        </picture>
    </div>
    <form class="form" id="form">
        <b class="form__heading">Request Callback</b>
        <label class="form__name">
          <input class="form__name-input" type="text" name="name" placeholder="Enter your name" />
        </label>
        <label class="form__email">
          <input
            class="form__email-input"
            type="email"
            name="email"
            placeholder="Enter email*"
          />
        </label>
        <button type="submit" class="form__submit">Send</button>
      </form>
</section>
