<!-- <header class="header">
    <div class="header__logo">
        <span class="header__logo_icon"></span>
        <span class="header__logo-text01">Finance</span>
        <span class="header__logo-text02">Ladger</span>
    </div>
    <ul class="header__menu">
        <li class="header__menu-item">Home</li>
        <li class="header__menu-item">About</li>
        <li class="header__menu-item">Cases</li>
        <li class="header__menu-item">Blog</li>
        <li class="header__menu-item">Contact</li>
    </ul>
</header> -->
