<section class="services">
    <div class="services__item">
        <!-- <i class="fa-brands fa-youtube"></i> -->
        <span class="services__item-heading">Inverstmant Banking</span><br>
        <span class="services__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</span>
    </div>
    <div>
        <!-- <span></span> -->
        <span class="services__item-heading">Portfolio Manager</span><br>
        <span class="services__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</span>
    </div>
    <div>
        <!-- <span></span> -->
        <span class="services__item-heading">Tax & Custudio</span>
        <span class="services__item-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</span>
    </div>  
</section>