.about {
    display: flex;
    flex-direction: column;
    margin: 0px auto 48px auto;
    width: 320px;

    font-family: $font-family;
    background-color: $main-green;

    @media screen and (min-width: $tablet-size) {
        flex-direction: row;
        width: 768px;
        background-color: $main-green;
    }
    @media screen and (min-width: $desktop-size) {
        flex-direction: row;
        width: 1360px;
        height: 460px;
    }
  }

.about__photo {
    width: 320px;
    height: 220px;

    background-image: url(../images//images/home/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $tablet-size) {
        width: 384px;
        // height: 764px;

        background-image: url(../images/images/home/people@2x.jpg);
        // margin-bottom: 30px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/images/home/people@2x.jpg);
        }
    }

      @media screen and (min-width: $desktop-size) {
        width: 50%;
        height: 100%;
    
        background-image: url(../images/images/home/people@2x.jpg);
        // margin-right: 30px;
        margin-bottom: 0;
    
        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
            background-image: url(../images/images/home/people@2x.jpg);
        }
      }
}

.about__text{
  display: block;
  width: 320px;
  margin: 30px;

  @media screen and (min-width: $tablet-size) {

  }

  @media screen and (min-width: $desktop-size) {
    width: 680px;
    height: 100%;
    margin: 84px 44px 0px 30px;

  }
}

.about__text-date{
  display: block;
  font-family: $font-family;
  color: $header-text;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.about__text-heading{
  display: block;
  // width: 205;
  font-family: $font-family;
  color: $header-text;
  font-weight: 300;
  font-style: normal;
  font-size: 38px;
  line-height: 48px;
}

.about__text-question{
  width: 240px;
  margin-bottom: 14px;
  font-family: $font-family;
  color: $header-text;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
}