.blog {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px auto;
    background-color: $main-blue;
    font-family: $font-family;

    @media screen and (min-width: $tablet-size) {
        flex-direction: row;
        width: 768px;
        background-color: $main-blue;
    }
    @media screen and (min-width: $desktop-size) {
        flex-direction: row;
        width: 1360px;
    }
  }

.blog__photo {
    width: 320px;
    height: 220px;

    background-image: url(../images//images/home/blog.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: $tablet-size) {
        width: 384px;
        // height: 764px;

        background-image: url(../images/images/home/blog@2x.jpg);
        // margin-bottom: 30px;

            @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx) {
                background-image: url(../images/images/home/blog@2x.jpg);
            }
        }

        @media screen and (min-width: $desktop-size) {
            width: 680px;
            height: 517px;

            background-image: url(../images/images/home/blog@2x.jpg);
            // margin-right: 30px;
            // margin-bottom: 0;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(../images/images/home/blog@2x.jpg);
        }
    }
}

.blog__text {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 30px;

    @media screen and (min-width: $desktop-size) {

    }

    @media screen and (min-width: $tablet-size) {
        // display: inline;
        width: 680px;
        height: 517px;
    }
}

.blog__text-main{
    display: block;
    font-family: $font-family;
    color: $header-text;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}

.blog__text-heading{
    display: block;
    font-family: $font-family;
    color: $header-text;
    font-weight: 300;
    font-style: normal;
    font-size: 38px;
    line-height: 48px;
}

.blog__text-question{
    display: block;
    width: 240px;
    font-family: $font-family;
    color: $header-text;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}


