.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    width: 320px;
    height: 533px;

    background-image: url(../images//images/home/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $tablet-size) {
        width: 768px;
    }
    @media screen and (min-width: $desktop-size) {
        // padding-top: 280px;
        width: 1360px;
        height: 768px;
    }
}

.hero__text-main {
    font-family: $font-family;
    font-weight: 300;
    font-style: normal;
    font-size: 52px;
    line-height: 66px;
    text-align: center;
    color: $hero-text-two;

    @media screen and (min-width: $tablet-size) {
        font-size: 55px;
    }
    @media screen and (min-width: $desktop-size) {
        padding-bottom: 25px;
    }
}

.hero__text {
    margin-bottom: 29px;
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 37px;
    text-align: center;
    color: $hero-text-two;

    @media screen and (min-width: $tablet-size) {
   
    }
    @media screen and (min-width: $desktop-size) {

    }
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border: 1px solid $header-text;
    border-radius: 5px;
    width: 167px;
    height: 50px;
    padding: 0px;
  
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
      
    color: $header-text;
  
    background-color: $main-green;
  
    cursor: pointer;
}