.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (min-width: $tablet-size) {
        flex-direction: row;
        width: 768px;
    }
    @media screen and (min-width: $desktop-size) {
        flex-direction: row;
        width: 1360px;
    }
}

.services__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 240px; 
}

.services__item-heading{
    margin-top: 20px;
    width: 240px;
    // margin: 0px;

    font-family: $font-family;
    text-align: center;
    color: $text;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;

    @media screen and (min-width: $tablet-size) {
        font-size: 20px;
        line-height: 33px;
    }
    @media screen and (min-width: $desktop-size) {
        font-size: 20px;
        line-height: 33px;
    }
}

.services__item-text{
    display: block;
    margin: 0 50px;

    font-family: $font-family;
    text-align: center;
    color: $text;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;

    @media screen and (min-width: $tablet-size) {
        font-size: 18px;
        line-height: 28px;
    }
    @media screen and (min-width: $desktop-size) {
        font-size: 18px;
        line-height: 28px;
    }
}