.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    @media screen and (min-width: $tablet-size) {
        flex-direction: row;
        width: 768px;
    }
    @media screen and (min-width: $desktop-size) {
        flex-direction: row;
        width: 1360px;
    }
}

.services__item{

}

.services__item-heading{
    // display: block;
    width: 240px;
    margin: 0px;
    font-family: $font-family;
    text-align: center;
    color: $text;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 26px;
}

.services__item-text{
    display: block;
    width: 240px;
    margin: 0 50px;

    font-family: $font-family;
    text-align: center;
    color: $text;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}